.listing-item{
    background-color: #ff8000	;
    width: 380px;
    padding: 5px;
    margin: 0px 15px 45px 15px;
}
.listing-img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}
.listing-details{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listing-categories{
    color: aliceblue;
    background-color: #ff8000;
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.listing-description{
    background-color: #ff8000;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 100%;
}